# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data science
* List commonly used libraries in Data science
* List few open source tools for data science
* Evaluate expressions

Some of the popular languages that Data Scientists use are:

    1.Python
    2.R
    3.Julia
    4.Java

Some of the commonly used libraries used by Data Scientists include:

    1.Tensor Flow
    2.PyTorch
    3.SciPy
    4.Keras
    5.Plotly

Data Science Tools|
-------------------
Apache Spark|
Jupyter Notebook|
Python|

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Rohith Keesara